@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-lato: Lato, ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.p-popover::before,
.p-popover::after {
  display: none !important;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
